/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");


body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  }

/* Headings */
h1 {
  font-family: "Playfair Display", Times, serif;
  align-items: center;
  }

  h2
{
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* THIS NEEDS TO MOVE TO THE RIGHT OF THE SCREEN -HI IM PETE THINKFUL */
h3
{
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}



/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
 justify-content: center;
  }

/* Containers */
main {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
  text-align: center;
}

div {
  margin: top;
  text-align: center;
}

.container {
  display: flex;
  flex: 50%;
    /*align-items: flex-start; /* Vertically center content */
  justify-content: space-evenly; /* Horizontally center content */
  margin: auto;
  box-sizing: border-box;
  max-width: 600px;
}

.section-content {
  display: flex;
  flex: 33.3%;
  justify-content: space-evenly;
  flex-direction: row;
  box-sizing: border-box;
  }

.portfolio {
    display: flex;
    flex: 33.3%;
    max-width: 200px;
    padding: 10px;
    justify-content: flex-start;
    flex-direction: column;
    /*align-items: flex-start; /* Vertically center content */
   /* Horizontally center content */
    box-sizing: border-box;
  }


/*
article {
  padding: 50px 0;
} 
*/

/* commented out for now
article div {
text-align: center;
 width: 100%;
} */

/* Paragraphs */
p {
  line-height: 1.5;
}

.descfontsize {
  font-size: 14px;
}

.left-align {
  text-align: left;
  justify: right;
  padding-left: 50px;
  max-width: 600px;
}

ol {

}

ul {

}

li {
  text-align: left;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 20px;
   }

nav a {
  display: flex;
  justify-content: center;
  padding: 12px;
    }

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

/*.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}
*/

.img-container {
  align-items: flex-end;
  justify-content: right;
  height: auto;
}

 
.img-container img {
  /*width: 100%; */
  max-width: 200px;
  height: auto;
  border: 2px solid #003049;
  border-radius: 50%;
  margin: auto;

}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}
