/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");


body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  }

/* Headings */
h1, h2, h3 {
  font-family: "Playfair Display", Times, serif;
  align-items: center;
  }


/* Header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
 justify-content: center;
  }

/* Containers */
main {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
  text-align: center;
}

div {
  margin: auto;
  text-align: center;
}

/* this is the container for pete's image and hi im pete thinkful */
.container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
 }

.section-content {
  flex: 1;
  text-align: justify;
  padding: 50px;
}

.heading {
  text-align: center;
}

/*THIS IS THE CONTAINER FOR THE PICTURES IN PORTFOLIO */
.container2 {
  display: flex;
  flex: 33.3%;
  justify-content: space-evenly;
  flex-direction: row;
  box-sizing: border-box;
  }

.portfolio {
    display: flex;
    flex: 33.3%;
    max-width: 200px;
    padding: 10px;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
  }


/* Paragraphs */
p {
  line-height: 1.5;
  }

.descfontsize {
  font-size: 14px;
}

.left-align {
  text-align: left;
}


li {
  text-align: left;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 20px;
   }

nav a {
  display: flex;
  justify-content: center;
  padding: 12px;
    }

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.img-container {
flex: 0 0 auto;
}

 
.img-container img {
  /*width: 100%; */
  max-width: 200px;
  height: auto;
  border: 2px solid #003049;
  border-radius: 50%;
  margin: auto;

}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
  margin: 50px;
}
